* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
div,
span,
ul {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  gap: 400px;

}

@font-face {
  font-family: PixelifySans;
  src: url(./fonts/PixeloidSans-mLxMm.ttf);
}

.display-none {
  display: none;
}
.display {
  display: inline-block;
}
.counterContent {
  position: relative;
  width: fit-content;
}
.countBox {
  position: absolute;
  top: 32%;
  left: 53%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.countBox h2 {
  text-align: center;
  font-family: "PixelifySans";
  color: #01c90a;
  font-size: 32px;
}

.CounterNumber {
  position: relative;
}
.line {
  width: 40px;
  height: 5px;
  background: #01c90a;
  position: absolute;
  bottom: -15%;
  left: 49.3%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.Arrows {
  display: flex;
  gap: 124px;
  padding-top: 5px;
  cursor: pointer;
}
.CounterPositive:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.reset:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.CounterPositive2:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.CounterPositiveStop2:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.reset2:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.Arrows img {
  width: 48px;
}
